<div class="border-2 border-gray-600 m-4">
    <div class="bg-gray-700 text-white text-2xl p-2 font-bold text-center">
         @Title
    </div>
    <div class="p-6">
        This is a panel
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
}
