:root {
    --mud-appbar-height: 100px !important;
    --mud-palette-secondary: #dfa958 !important;
    --mud-palette-success: #008336 !important;
    --mud-appbar-height: 150px !important;
}

.mud-table-root .mud-table-body:last-child .mud-table-row:last-child .mud-table-root .mud-table-cell {
    border-bottom: 1px solid #e0e0e0;
}

.mud-input.mud-input-underline:before,
.mud-table-root .mud-table-body:last-child .mud-table-row:last-child .mud-table-root .mud-table-row:last-child .mud-table-cell {
    border-bottom: none;
}

.mud-shrink ~ label.mud-input-label.mud-input-label-inputcontrol {
    color:#aeaeae;
}

.mud-table-smalldevices-sortselect {
    display: none !important;
}

.mud-main-content {
    min-height: 85vh !important;
    // background: #263238 !important;

    &.home {
        padding-top: 2rem !important;
    }
}

.mud-table-container {
    overflow: auto;
}

.mud-table {
    padding: 20px !important;
    margin-bottom: 20px !important;
}

.mud-card {
    margin-bottom: 20px !important;
}

#blazor-error-ui {
    color: var(--mud-palette-drawer-text);
    background: var(--mud-palette-drawer-background);
}

.mud-overlay-dark {
    backdrop-filter: blur(2px);
}

.mud-card-header .mud-card-header-avatar {
    margin-inline-end: 10px !important;
}

.mud-nav-link {
    padding: 12px 16px 12px 15px !important;
}

.mud-dialog-content {
    max-height: 75vh !important;
    overflow: auto !important;
    overflow-x: hidden !important;
}

/* .mud-grid-spacing-xs-3 {
    margin: 0px !important;
    margin-left: -12px !important;

} */

.mud-table-toolbar {
    flex-wrap: wrap;
    margin-bottom: 20px !important;
}

::-webkit-scrollbar {
    width: 2px !important;
    height: 6px !important;
}


.mud-button-filled {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.3), 0 2px 2px 0 rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0.1) !important;
}

.mud-dialog {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0), 0 10px 10px 0 rgba(0,0,0,0.05) !important;
}

.mud-nav-link {
    white-space: normal !important;
    padding: 12px 16px 12px 38px;

    &.mud-expanded {
        background-color: #efefef;
        //rgba(var(--mud-palette-primary-rgb), 0.5) !important;
    }

    &.active:not(.mud-nav-link-disabled) {
        /* border-right: 3px solid var(--mud-palette-primary);
        background-color: rgba(var(--mud-palette-primary-rgb), 0.1); */
        border-right: none !important;
        background-color: rgba(var(--mud-palette-primary-rgb), 0.1) !important;
    }
}

/* common */
.text-center {
    text-align: center !important;
}

.text-uppercase {
    text-transform:uppercase;
}

.bg-white {
    background: #ffffff;
}

.bg-black {
    background: #000000;
}

.color-white {
    color: #ffffff;
}

.color-black {
    color: #000000;
}

/* customs */
.custom-nav-child {
    padding-left: 10px !important;
}

.ehulog-mud-table-compact .mud-table-cell {
    padding: 3px;
    font-size: .5rem;
}

.position-relative {
    position: relative;
}


/* customs - account - packages */
.custom-mud-checkbox.pl-0 span {
    padding-left: 0;
}



/* list / grid dislays */
.grid-group-wrapper {
    &.row {
        display: flex;
        flex-wrap: wrap;

        .item {
            padding: 5px;
        }

        &:after,
        &:before {
            display: flex;
        }

        > [class*=col-] {
            display: flex;
            flex-direction: column;
        }

        .thumbnail,
        .caption {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
        }

        .caption-text {
            flex-grow: 1;
        }

        img {
            width: 100%;
            height: auto;
        }

        .price-buy-spacing {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            .lead {
                margin-bottom: 0px;
            }
        }
    }
}

.list-group-wrapper {

    .item {
        float: none;
        max-width: 100%;
        padding: 5px;

        &:before,
        &:after {
            display: table;
            content: " ";
        }

        &:after {
            clear: both;
        }

        .thumbnail img {
            margin-right: 10px;
            float: left;
        }

        .caption,
        .thumbnail {
            display: flex;
        }

        .caption {
            flex-direction: column;
        }

        .caption-text {
            flex-grow: 1;
        }
    }

    > .mud-grid-item > .mud-paper {
        display: flex !important;
    }
}

@media screen and (max-width: 768px) {
    .mud-table-cell {
        justify-content:initial !important;
    }
}

@import "loading","header","footer","content-header";
