aside {
    &.mud-drawer.mud-drawer-pos-left.mud-drawer--open {
        z-index: calc(var(--mud-zindex-appbar) + 2);
    }
}

header {
    &.main-menu-app-bar {

        .navbar-toggler {
            border: none;

            &:focus {
                box-shadow: none;
            }

            span {
                display: block;
                background-color: rgba(0, 0, 0, 0.95);
                height: 3px;
                width: 25px;
                margin-top: 5px;
                margin-bottom: 5px;
                position: relative;
                left: 0;
                opacity: 1;
                transition: all 0.35s ease-out;
                transform-origin: center left;
            }

            span:nth-child(1) {
                transform: translate(0%, 0%) rotate(0deg);
            }

            span:nth-child(2) {
                opacity: 1;
            }

            span:nth-child(3) {
                transform: translate(0%, 0%) rotate(0deg);
            }

            span:nth-child(1) {
                margin-top: 0.3em;
            }

            &:not(.collapsed) span:nth-child(1) {
                transform: translate(15%, -33%) rotate(45deg);
            }

            &:not(.collapsed) span:nth-child(2) {
                opacity: 0;
            }

            &:not(.collapsed) span:nth-child(3) {
                transform: translate(15%, 33%) rotate(-45deg);
            }
        }

        .main-menu {
            .mud-button {
                &:hover {
                    .mud-button-label * {
                        font-weight: 700;
                    }
                }
            }
        }

        &.anon {
            position: initial;
            background: transparent !important;

            .mud-toolbar {
                height: auto !important;
            }

            .top-bar {
                background-color: var(--custom-appbar-secondary-menu);
                min-height: 40px;
            }
        }
    }

    transition: all 0.5s;
    z-index: 997;
    padding: 30px 0;
    transition: background-color 0.1s ease;

    .mud-toolbar-appbar {
        transition: height 0.1s ease;
    }

    &.main-menu-app-bar {

        &.logged {
            background: none !important;
        }

        &.floating-fixed {

            &.anon {
                background-color: rgba(0, 0, 0, 0.95) !important;
            }

            &.logged {
                background: var(--mud-palette-white) !important;
            }

            .mud-toolbar-appbar {
                height: 65px;

                img {
                    height: 50px !important;
                }
            }
        }
    }
}

.hero {
    width: 100%;
    height: auto;
    background-size: cover;
    object-fit: contain;
    background-position: center center;
    overflow: hidden;
    position: relative;

    &:before {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}
