/*!***************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./Styles/ehulog.scss ***!
  \***************************************************************************************************************************************************************************************************************/
:root {
  --mud-appbar-height: 100px !important; }

.mud-main-content {
  min-height: 85vh !important; }

.mud-table-container {
  overflow: auto; }

.mud-table {
  padding: 20px !important;
  margin-bottom: 20px !important; }

.mud-card {
  margin-bottom: 20px !important; }

#blazor-error-ui {
  color: var(--mud-palette-drawer-text);
  background: var(--mud-palette-drawer-background); }

.mud-overlay-dark {
  backdrop-filter: blur(2px); }

.mud-card-header .mud-card-header-avatar {
  margin-inline-end: 10px !important; }

.mud-nav-link {
  padding: 12px 16px 12px 15px !important; }

.mud-dialog-content {
  max-height: 75vh !important;
  overflow: auto !important;
  overflow-x: hidden !important; }

.mud-grid-spacing-xs-3 {
  margin: 0px !important;
  margin-left: -12px !important; }

.mud-table-toolbar {
  flex-wrap: wrap;
  margin-bottom: 20px !important; }

::-webkit-scrollbar {
  width: 2px !important;
  height: 6px !important; }

.mud-button-filled {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important; }

.mud-dialog {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0), 0 10px 10px 0 rgba(0, 0, 0, 0.05) !important; }

.mud-nav-link {
  white-space: normal !important;
  padding: 12px 16px 12px 38px; }
  .mud-nav-link.mud-expanded {
    background-color: rgba(var(--mud-palette-primary-rgb), 0.5) !important; }
  .mud-nav-link.active:not(.mud-nav-link-disabled) {
    /* border-right: 3px solid var(--mud-palette-primary);
        background-color: rgba(var(--mud-palette-primary-rgb), 0.1); */
    border-right: none !important;
    background-color: rgba(var(--mud-palette-primary-rgb), 0.1) !important; }

/* common */
.text-center {
  text-align: center !important; }

.text-uppercase {
  text-transform: uppercase; }

.bg-white {
  background: #ffffff; }

.bg-black {
  background: #000000; }

.color-white {
  color: #ffffff; }

.color-black {
  color: #000000; }

/* customs */
.custom-nav-child {
  padding-left: 10px !important; }

.ehulog-mud-table-compact .mud-table-cell {
  padding: 3px;
  font-size: .5rem; }

.position-relative {
  position: relative; }

/* customs - account - packages */
.custom-mud-checkbox.pl-0 span {
  padding-left: 0; }

/* list / grid dislays */
.grid-group-wrapper.row {
  display: flex;
  flex-wrap: wrap; }
  .grid-group-wrapper.row .item {
    padding: 5px; }
  .grid-group-wrapper.row:after, .grid-group-wrapper.row:before {
    display: flex; }
  .grid-group-wrapper.row > [class*=col-] {
    display: flex;
    flex-direction: column; }
  .grid-group-wrapper.row .thumbnail,
  .grid-group-wrapper.row .caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column; }
  .grid-group-wrapper.row .caption-text {
    flex-grow: 1; }
  .grid-group-wrapper.row img {
    width: 100%;
    height: auto; }
  .grid-group-wrapper.row .price-buy-spacing {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; }
    .grid-group-wrapper.row .price-buy-spacing .lead {
      margin-bottom: 0px; }

.list-group-wrapper .item {
  float: none;
  max-width: 100%;
  padding: 5px; }
  .list-group-wrapper .item:before, .list-group-wrapper .item:after {
    display: table;
    content: " "; }
  .list-group-wrapper .item:after {
    clear: both; }
  .list-group-wrapper .item .thumbnail img {
    margin-right: 10px;
    float: left; }
  .list-group-wrapper .item .caption,
  .list-group-wrapper .item .thumbnail {
    display: flex; }
  .list-group-wrapper .item .caption {
    flex-direction: column; }
  .list-group-wrapper .item .caption-text {
    flex-grow: 1; }

.list-group-wrapper > .mud-grid-item > .mud-paper {
  display: flex !important; }

.loader {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  width: 100%;
  height: 100vh;
  animation: backgroundChange .5s linear 3s forwards; }

.load-text {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 5rem;
  width: fit-content;
  display: flex;
  animation: colorChange .5s linear 3s forwards; }

.loaded-text {
  transform: scale(1.5);
  animation: scaleText .5s linear .5s forwards; }

.loading-text {
  width: 0;
  overflow: hidden;
  animation: expand .5s linear 1.5s forwards; }

@keyframes scaleText {
  from {
    transform: scale(1.5); }
  to {
    transform: scale(1); } }

@keyframes expand {
  from {
    width: 0; }
  to {
    width: 17vmax; } }

@keyframes backgroundChange {
  from {
    background-color: white; }
  to {
    background-color: black; } }

@keyframes colorChange {
  from {
    color: black; }
  to {
    color: white; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    z-index: -1; } }

header {
  transition: all 0.5s;
  z-index: 997;
  padding: 30px 0;
  transition: background-color 0.1s ease; }
  header .mud-toolbar-appbar {
    transition: height 0.1s ease; }
  header.main-menu-app-bar.anon {
    background-color: rgba(0, 0, 0, 0.5) !important; }
  header.main-menu-app-bar.logged {
    background: none !important; }
  header.main-menu-app-bar.floating-fixed.anon {
    background-color: rgba(0, 0, 0, 0.95) !important; }
  header.main-menu-app-bar.floating-fixed.logged {
    background: #fff !important; }
  header.main-menu-app-bar.floating-fixed .mud-toolbar-appbar {
    height: 65px; }
    header.main-menu-app-bar.floating-fixed .mud-toolbar-appbar img {
      height: 50px !important; }

.hero {
  width: 100%;
  height: auto;
  background-size: cover;
  object-fit: contain;
  background-position: center center;
  overflow: hidden;
  position: relative; }
  .hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; }

footer .mud-paper {
  background: none; }

footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px; }

.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px; }
  .section-header:before {
    content: "";
    position: absolute;
    display: block;
    width: 150px;
    height: 1px;
    background: #999;
    bottom: 0;
    left: calc(50% - 75px); }
  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px; }
  .section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2; }

.speaker {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  transition-delay: 0.1s; }
  .speaker .details {
    background: rgba(6, 12, 34, 0.76);
    position: absolute;
    left: 0;
    bottom: -40px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); }
    .speaker .details .social {
      height: 40px; }
  .speaker:hover .details {
    bottom: 0; }

